/**
 * Copyright 2019 Greg Arnell.
 **/

body {
    font-size: 15px;
}

#status {
    color: green;
    float: left;
    padding-top: 4px;
    margin-left: 5px;
}

#status.error {
    color: red;
}

.imageUrlField, .disabledDomainField  {
    width: 500px;
    margin-top: 3px;
    border-style: solid;
}

.addFieldButton {
    margin-top: 5px;
}

.imageStatus {
    margin-left: 2px;
}

.tips {
    font-size: 14px;
    margin: 0;
}

.tips pre {
    display: inline;
}

fieldset {
    display: inline-block;
    margin-top: 5px;
}

.info:before {
    content: "\24d8";
    font-style: normal;
    padding-right: 2px;
}

#save {
    font-size: 17px;
    float: left;
}

h4 {
    margin-bottom: 0;
    margin-top: 0;
}

h5 {
    font-size: 15px;
    font-weight: normal;
    margin: 0 0 5px;
}
